#header{
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    margin: 50px;
}

#video{

    max-width: 520;
    max-height: 400;
    margin: 20px 0px;
}

body {
    background-color: white;
}

@media screen and (max-width: 992px) {
    body {
        background-color: beige;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: olive;
    }
}